/* * {
	border: 1px solid rgba(0, 0, 0, 0.3);
}*/

body{
	background-color: #d6a2a9;
}

.mainPage{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.addMainPage{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.senderName{
	flex: 1;
	order: 1;
	align-self: flex-start;
	font-family: 'Open-Sans', sans-serif;
	font-size: 16px;
	color: #212227;
	padding: 20px 20px 38px 20px;
	margin-top: 0px;
	border-right: 2px solid #BA2130;
	border-bottom: 2px solid #BA2130;
	background-color: white;
}

.dateLine{
	flex: 2;
	order: 2;
	align-self: flex-start;
	font-family: 'Open-Sans', sans-serif;
	font-size: 16px;
	color: #212227;
	background-color: LightGray;
	padding: 20px;
	margin-top: 0px;
}

.subjectLine{
	flex: 4;
	order: 3;
	align-self: flex-start;
	color: white;
	background-color: #BA2130;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	padding: 10px;
}

.subjectLine:hover{
	background-color: white;
	color: #212227;
}

.addSubjectLine{
	flex: 4;
	order: 3;
	align-self: flex-start;
	color: white;
	background-color: #BA2130;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	padding: 10px;
}

.addSubjectLine:hover{
	background-color: white;
	color: #212227;
}

.bodyLine{
	border: 2px solid gray;
	background-color: LightGray;
	color: #212227;
	//opacity: 0.9;
	padding: 15px 15px;
	display: none;
	font-weight: normal;
	font-family: 'Open-Sans', sans-serif;
}

.addBodyLine{
	border: 2px solid gray;
	background-color: LightGray;
	color: #212227;
	//opacity: 0.9;
	padding: 15px 15px;
	display: none;
	font-weight: normal;
	font-family: 'Open-Sans', sans-serif;
}

header{
	display: flex;
	border-top: 5px solid #BA2130;
	border-bottom: 5px solid #BA2130;
	background-color: white;
	
}

h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 100px;
	color: #212227;
	padding: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	flex: 3;
}

#count{
	flex: 1;
	align-self: center;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 25px;
	color: #212227;
}
